{% extends "base.html" %}

{% block title %}Mes Recettes{% endblock %}

{% block content %}
    <h2>Mes Recettes</h2>
    <a href="{{ url_for('ajouter_recette') }}" class="ajouter-recette-fixed">➕ Ajouter</a>

    <ul>
        {% for recette in recettes %}
            <li>
                <a href="{{ url_for('afficher_recette', id=recette.id) }}">{{ recette.nom }}</a>
                {% if recette.image %}
                    <br><img src="{{ url_for('static', filename='uploads/' + recette.image) }}" alt="Image de {{ recette.nom }}" width="200">
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
